body {
    line-height: 2;
    /* background-image: url("https://images.unsplash.com/photo-1557683316-973673baf926"); */
    /* background: url("./2.png"); */
    /* Use image for background */
    background-size: 50%;
    background-attachment: fixed;
    /* Fixed background */
    background-repeat: no-repeat;
    /* No repeat */
    /* font-family: "Roboto", sans-serif; */
}

.c {
    color: #ffffff;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 1s both;
}

.content {
    font-size: 108px;
    padding: 200px 0;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
